{% extends 'base.html' %}

{% block title %} Widget v2 {% endblock %}
{% block header %} Welcome to Widget!{% endblock %}
{% block body %}
<p> Widget User:</p>
<ul>
    {% for name in widgetuser_list %}
    <li>
        <a href="dashboard/widgetusers/{{ name.pk }}/details"> {{ name.last_name }}, {{name.first_name }} </a><br>
    </li>
    {% endfor %}
</ul>
<button><a href = "dashboard/widgetusers/add">Add Widget User</a></button><br><br>


    <a href = "/forum/">Forum</a> <br>
    <a href = "/assignments/">Assignments</a>

{% endblock %}