{% extends 'base.html' %}
{% load static %}

{% block title %} Edit Widget User{% endblock %}
{% block header %}Edit Widget User:{% endblock %}
{% block body %}
    <form method = "post">
        {% csrf_token %}
        {% for field in form %}
            {{field.label}}: {{field}}<br><br>
        {% endfor %}
        &nbsp; &nbsp; &nbsp; &nbsp; <input type="submit" value="Save Changes to Widget User">
    </form>
{% endblock %}  