{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block header %}{{ object.name }}{% endblock %}

{% block body %}
    {{ object.course }} {{ object.course.title }} - {{ object.course.section }} <br/> <br/>

    Description: {{ object.description }} <br/>
    Perfect Score: {{ object.perfect_score}} <br/>
    Passing Score: {{ object.passing_score }} <br/> <br/>

    <button>
        <a href="edit">Edit Assignment</a>
    </button>
{% endblock %}