{% extends 'base.html' %}

{% block title %}Widget's Assignments{% endblock %}

{% block header %}Welcome to Widget's Assignments{% endblock %}

{% block body %}
    <ul>
        {% for assignment in assignment_list %}
        <li>
            <a href="{{ assignment.pk }}/details">
                {{ assignment.name }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <button>
        <a href="add">New Assignment</a>
    </button>
    <br/>

    <a href="/dashboard">Dashboard</a> <br/>
    <a href="/forum/">Forum</a>
{% endblock %}