{%extends "base.html"%}

{%block title %}Widget's Forum{%endblock%}
{%block header %}Welcome to Widget's Forum!{%endblock %}
{%block body %}
<h2>Forum Posts:</h2>
{% for post in forum%}
<a href="{% url 'forum:forumpostdetails' post.pk%}">
    {{post.title}} by {{post.author.first_name}} {{post.author.last_name}}<br>
</a>
{%endfor%}

<br>
<a href="{%url 'forum:forumpostnew' %}">
    <input type="button" value= "New Post"></a>
<br>
<br>
<a href= "/dashboard">Dashboard</a><br>
<a href= "/assignments/">Assignments</a>
<br>

{% endblock%}