<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>{% block header %}{% endblock %}</h1>
    {% block body %}{% endblock %}
</body>
</html>